html, body, header, .view {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url("images/what-the-hex-dark.png") repeat;
    /*background: url("images/atl.jpg") no-repeat center center fixed;*/
    height: 100%;
}

.h1 {
    font-size: 50px;
    line-height: 100px;
}

.bg-transparent {
    background: transparent;
}

.bg-clear {
    opacity: 0;
}

#reset-search {
    display: none;
}

#results-row {
    max-height: 100vh;
}

#movie-title-display {
    max-height: 85vh;
    /*max-height: calc(100vh - 272px); */
    overflow: auto;
}

#movie-data-display {
    max-height: 85vh;
    overflow: auto;
}

#column-2 {
    max-height: 95vh;
    /*max-height: calc(100vh - 272px); */
    overflow: auto;
}

/*
#column-1, #column-2, #column-3 {
    overflow: auto;
}*/
