html, body, header, .view {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url("images/glacier.jpg") no-repeat center center fixed;
    height: 100%;
}

.bg-transparent {
    background: transparent;
}

.bg-clear {
    opacity: 0;
}