html, body, header, .view {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: url("images/what-the-hex-dark.png") repeat;
    /*background: url("images/atl.jpg") no-repeat center center fixed;*/
    height: 100%;
}

.bg-transparent {
    background: transparent;
}

.bg-clear {
    opacity: 0;
}

#reset-search {
    display: none;
}

#results-row {
    max-height: calc(100vh - 272px);
}

#column-1, #column-2, #column-3 {
    overflow: auto;
}